// Here you can add other styles

.Media-Panel-Tab-Pane {
    text-align: center;
}
/* Progress Bar Styles */
.Progress-Bar-Large {
    height: 60px;
}

.Progress-Bar-Medium {
    height: 30px;
}

.Spinner-Container {
    padding: 150px 0;
}

.Spinner-Container > div > div {
    margin: 0 auto;
}

.Status-Icon {
    font-size: 12rem; 
    padding: 100px 0 50px;
    text-align: center;
}

.borderless {
    border: none;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.4 !important;
    pointer-events: none;
}
.pass {
    color: $green;
}

.fail {
    color: $red;
}

.loading-label {
    align-items: center;
    display: flex;
}

.results {
    list-style: none;
}

.result-item {
    line-height: 2;
}

// AllTests View styles
.tests {
    margin: 0;
    padding: 0;
    list-style: none;
}

.test {
    margin: 0;
    padding: 0;
}

.test > .card {
    margin: 0;
    border: none;
    border-top: 0.5px solid #ddd;
}

.test > .card:hover {
    background-color: #efe;
}

.test .card-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.left {
    cursor: pointer;
    flex: 1;
    flex-basis: 65%;
    padding: 1.25rem;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex: 1;
    flex-basis: 35%;
    max-width: 300px;
}

.test .right i {
    cursor: pointer;
    flex: 1
}

.test-name {
    padding: 0 1.25rem;
}